<%- include ('../../partials/header.ejs')  %>
<%- include ('../../partials/navbar.ejs')  %>  

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Define o título do artigo"></input><br>
            <label>Categorias</label>
            <select name="category" class="form-control">
                <% categories.forEach((category) => { %>
                    <option value="<%= category.id %> "><%= category.title %> </option>
                <% }) %>
            </select> <hr>
            <textarea class="form-control" id="article" name="body" placeholder="Escreva o artigo"></textarea>
            <button class = " btn btn-success">Cadastrar</button>   
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs')  %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'print',
            'preview',
            'hr',
            'seachreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'paste',
            'emoticons'
        ]
    })
</script>